# Test results

## Global metrics

| Metric | Value |
| :--- | :---: |
| precision | nan |
| recall | nan |
| acc | nan |
| f1 | nan |
| panoptic_quality | nan |
## Classification metrics

| Metric | Value |
| :--- | :---: |
| accuracy micro | 0.9459047317504883 |
| f1 micro | 0.9459047317504883 |
| accuracy macro | 0.6741044521331787 |
| f1 macro | 0.6780267357826233 |
## Images

### Image 1

![](images/test_image_0.png)
| Metric | Value |
| :--- | :---: |
| FP | 57 |
| TP | 467 |
| FN | 43 |
| Precision | 0.8912213740458015 |
| Recall | 0.9156862745098039 |
| Accuracy | 0.8236331569664903 |
| F1 | 0.9032882011605415 |
| n_true | 510 |
| n_pred | 524 |
| mean_true_score | 0.7415984509037991 |
| mean_matched_score | 0.8098826765758833 |
| panoptic_quality | 0.7315574660753144 |

![](images/test_image_0_classes.png)

![](images/test_image_0_graph.png)

![](images/test_image_0_diff.png)
### Image 2

![](images/test_image_1.png)
| Metric | Value |
| :--- | :---: |
| FP | 43 |
| TP | 416 |
| FN | 33 |
| Precision | 0.906318082788671 |
| Recall | 0.9265033407572383 |
| Accuracy | 0.8455284552845529 |
| F1 | 0.9162995594713657 |
| n_true | 449 |
| n_pred | 459 |
| mean_true_score | 0.7615225267304079 |
| mean_matched_score | 0.821931765629695 |
| panoptic_quality | 0.7531357147620112 |

![](images/test_image_1_classes.png)

![](images/test_image_1_graph.png)

![](images/test_image_1_diff.png)
### Image 3

![](images/test_image_2.png)
| Metric | Value |
| :--- | :---: |
| FP | 43 |
| TP | 483 |
| FN | 33 |
| Precision | 0.9182509505703422 |
| Recall | 0.936046511627907 |
| Accuracy | 0.8640429338103757 |
| F1 | 0.927063339731286 |
| n_true | 516 |
| n_pred | 526 |
| mean_true_score | 0.7751695499863736 |
| mean_matched_score | 0.8281314447059395 |
| panoptic_quality | 0.767730302865583 |

![](images/test_image_2_classes.png)

![](images/test_image_2_graph.png)

![](images/test_image_2_diff.png)
### Image 4

![](images/test_image_3.png)
| Metric | Value |
| :--- | :---: |
| FP | 39 |
| TP | 489 |
| FN | 28 |
| Precision | 0.9261363636363636 |
| Recall | 0.9458413926499033 |
| Accuracy | 0.8794964028776978 |
| F1 | 0.9358851674641149 |
| n_true | 517 |
| n_pred | 528 |
| mean_true_score | 0.7997312564222679 |
| mean_matched_score | 0.845523639203093 |
| panoptic_quality | 0.7913130326704545 |

![](images/test_image_3_classes.png)

![](images/test_image_3_graph.png)

![](images/test_image_3_diff.png)
### Image 5

![](images/test_image_4.png)
| Metric | Value |
| :--- | :---: |
| FP | 53 |
| TP | 482 |
| FN | 34 |
| Precision | 0.9009345794392524 |
| Recall | 0.9341085271317829 |
| Accuracy | 0.8471001757469244 |
| F1 | 0.917221693625119 |
| n_true | 516 |
| n_pred | 535 |
| mean_true_score | 0.7622156660686168 |
| mean_matched_score | 0.8159819163722122 |
| panoptic_quality | 0.7484363153023906 |

![](images/test_image_4_classes.png)

![](images/test_image_4_graph.png)

![](images/test_image_4_diff.png)
### Image 6

![](images/test_image_5.png)
| Metric | Value |
| :--- | :---: |
| FP | 47 |
| TP | 463 |
| FN | 27 |
| Precision | 0.907843137254902 |
| Recall | 0.9448979591836735 |
| Accuracy | 0.8621973929236499 |
| F1 | 0.926 |
| n_true | 490 |
| n_pred | 510 |
| mean_true_score | 0.7711973852040817 |
| mean_matched_score | 0.8161700188984882 |
| panoptic_quality | 0.7557734375 |

![](images/test_image_5_classes.png)

![](images/test_image_5_graph.png)

![](images/test_image_5_diff.png)
### Image 7

![](images/test_image_6.png)
| Metric | Value |
| :--- | :---: |
| FP | 48 |
| TP | 495 |
| FN | 31 |
| Precision | 0.9116022099447514 |
| Recall | 0.94106463878327 |
| Accuracy | 0.8623693379790941 |
| F1 | 0.9260991580916744 |
| n_true | 526 |
| n_pred | 543 |
| mean_true_score | 0.7816426672409695 |
| mean_matched_score | 0.830594026199495 |
| panoptic_quality | 0.7692124283793265 |

![](images/test_image_6_classes.png)

![](images/test_image_6_graph.png)

![](images/test_image_6_diff.png)
### Image 8

![](images/test_image_7.png)
| Metric | Value |
| :--- | :---: |
| FP | 35 |
| TP | 477 |
| FN | 24 |
| Precision | 0.931640625 |
| Recall | 0.9520958083832335 |
| Accuracy | 0.8899253731343284 |
| F1 | 0.9417571569595261 |
| n_true | 501 |
| n_pred | 512 |
| mean_true_score | 0.8080406569673154 |
| mean_matched_score | 0.8486967906512054 |
| panoptic_quality | 0.7992662766843535 |

![](images/test_image_7_classes.png)

![](images/test_image_7_graph.png)

![](images/test_image_7_diff.png)
### Image 9

![](images/test_image_8.png)
| Metric | Value |
| :--- | :---: |
| FP | 56 |
| TP | 485 |
| FN | 40 |
| Precision | 0.8964879852125693 |
| Recall | 0.9238095238095239 |
| Accuracy | 0.8347676419965576 |
| F1 | 0.9099437148217636 |
| n_true | 525 |
| n_pred | 541 |
| mean_true_score | 0.74927001953125 |
| mean_matched_score | 0.8110654850596005 |
| panoptic_quality | 0.7380239404388484 |

![](images/test_image_8_classes.png)

![](images/test_image_8_graph.png)

![](images/test_image_8_diff.png)
### Image 10

![](images/test_image_9.png)
| Metric | Value |
| :--- | :---: |
| FP | 48 |
| TP | 505 |
| FN | 32 |
| Precision | 0.9132007233273056 |
| Recall | 0.9404096834264432 |
| Accuracy | 0.8632478632478633 |
| F1 | 0.926605504587156 |
| n_true | 537 |
| n_pred | 553 |
| mean_true_score | 0.765909603410149 |
| mean_matched_score | 0.8144424891707921 |
| panoptic_quality | 0.7546668936353211 |

![](images/test_image_9_classes.png)

![](images/test_image_9_graph.png)

![](images/test_image_9_diff.png)
