# Test results

## Global metrics

| Metric | Value |
| :--- | :---: |
| precision | nan |
| recall | nan |
| acc | nan |
| f1 | nan |
| panoptic_quality | nan |
## Classification metrics

| Metric | Value |
| :--- | :---: |
| accuracy micro | 0.9451601505279541 |
| f1 micro | 0.9451601505279541 |
| accuracy macro | 0.7351210117340088 |
| f1 macro | 0.6983742117881775 |
## Images

### Image 1

![](images/test_image_0.png)
| Metric | Value |
| :--- | :---: |
| FP | 83 |
| TP | 489 |
| FN | 47 |
| Precision | 0.8548951048951049 |
| Recall | 0.9123134328358209 |
| Accuracy | 0.789983844911147 |
| F1 | 0.8826714801444043 |
| n_true | 536 |
| n_pred | 572 |
| mean_true_score | 0.6986726219974347 |
| mean_matched_score | 0.7658252052978016 |
| panoptic_quality | 0.6759720674921029 |

![](images/test_image_0_classes.png)

![](images/test_image_0_graph.png)

![](images/test_image_0_diff.png)
### Image 2

![](images/test_image_1.png)
| Metric | Value |
| :--- | :---: |
| FP | 48 |
| TP | 477 |
| FN | 31 |
| Precision | 0.9085714285714286 |
| Recall | 0.9389763779527559 |
| Accuracy | 0.8579136690647482 |
| F1 | 0.9235237173281704 |
| n_true | 508 |
| n_pred | 525 |
| mean_true_score | 0.7830558236189714 |
| mean_matched_score | 0.8339462440218816 |
| panoptic_quality | 0.7701691353309535 |

![](images/test_image_1_classes.png)

![](images/test_image_1_graph.png)

![](images/test_image_1_diff.png)
### Image 3

![](images/test_image_2.png)
| Metric | Value |
| :--- | :---: |
| FP | 42 |
| TP | 722 |
| FN | 30 |
| Precision | 0.9450261780104712 |
| Recall | 0.9601063829787234 |
| Accuracy | 0.9093198992443325 |
| F1 | 0.9525065963060686 |
| n_true | 752 |
| n_pred | 764 |
| mean_true_score | 0.806238702002992 |
| mean_matched_score | 0.8397389250779086 |
| panoptic_quality | 0.7998568653116754 |

![](images/test_image_2_classes.png)

![](images/test_image_2_graph.png)

![](images/test_image_2_diff.png)
### Image 4

![](images/test_image_3.png)
| Metric | Value |
| :--- | :---: |
| FP | 19 |
| TP | 247 |
| FN | 20 |
| Precision | 0.9285714285714286 |
| Recall | 0.9250936329588015 |
| Accuracy | 0.8636363636363636 |
| F1 | 0.926829268292683 |
| n_true | 267 |
| n_pred | 266 |
| mean_true_score | 0.7236451566889045 |
| mean_matched_score | 0.7822399062183705 |
| panoptic_quality | 0.7250028399097092 |

![](images/test_image_3_classes.png)

![](images/test_image_3_graph.png)

![](images/test_image_3_diff.png)
### Image 5

![](images/test_image_4.png)
| Metric | Value |
| :--- | :---: |
| FP | 10 |
| TP | 38 |
| FN | 5 |
| Precision | 0.7916666666666666 |
| Recall | 0.8837209302325582 |
| Accuracy | 0.7169811320754716 |
| F1 | 0.8351648351648352 |
| n_true | 43 |
| n_pred | 48 |
| mean_true_score | 0.6964440013087073 |
| mean_matched_score | 0.7880813699019583 |
| panoptic_quality | 0.6581778473906464 |

![](images/test_image_4_classes.png)

![](images/test_image_4_graph.png)

![](images/test_image_4_diff.png)
### Image 6

![](images/test_image_5.png)
| Metric | Value |
| :--- | :---: |
| FP | 15 |
| TP | 51 |
| FN | 8 |
| Precision | 0.7727272727272727 |
| Recall | 0.864406779661017 |
| Accuracy | 0.6891891891891891 |
| F1 | 0.816 |
| n_true | 59 |
| n_pred | 66 |
| mean_true_score | 0.664803133172504 |
| mean_matched_score | 0.7690859775917203 |
| panoptic_quality | 0.6275741577148437 |

![](images/test_image_5_classes.png)

![](images/test_image_5_graph.png)

![](images/test_image_5_diff.png)
### Image 7

![](images/test_image_6.png)
| Metric | Value |
| :--- | :---: |
| FP | 7 |
| TP | 57 |
| FN | 2 |
| Precision | 0.890625 |
| Recall | 0.9661016949152542 |
| Accuracy | 0.8636363636363636 |
| F1 | 0.926829268292683 |
| n_true | 59 |
| n_pred | 64 |
| mean_true_score | 0.8089882802155058 |
| mean_matched_score | 0.8373738339072779 |
| panoptic_quality | 0.7761025777677211 |

![](images/test_image_6_classes.png)

![](images/test_image_6_graph.png)

![](images/test_image_6_diff.png)
### Image 8

![](images/test_image_7.png)
| Metric | Value |
| :--- | :---: |
| FP | 24 |
| TP | 453 |
| FN | 17 |
| Precision | 0.949685534591195 |
| Recall | 0.9638297872340426 |
| Accuracy | 0.917004048582996 |
| F1 | 0.9567053854276664 |
| n_true | 470 |
| n_pred | 477 |
| mean_true_score | 0.7759772767411902 |
| mean_matched_score | 0.8050978367954953 |
| panoptic_quality | 0.7702414362584147 |

![](images/test_image_7_classes.png)

![](images/test_image_7_graph.png)

![](images/test_image_7_diff.png)
### Image 9

![](images/test_image_8.png)
| Metric | Value |
| :--- | :---: |
| FP | 68 |
| TP | 680 |
| FN | 33 |
| Precision | 0.9090909090909091 |
| Recall | 0.9537166900420757 |
| Accuracy | 0.8706786171574904 |
| F1 | 0.9308692676249144 |
| n_true | 713 |
| n_pred | 748 |
| mean_true_score | 0.7794171476431013 |
| mean_matched_score | 0.8172418033375459 |
| panoptic_quality | 0.7607452789452858 |

![](images/test_image_8_classes.png)

![](images/test_image_8_graph.png)

![](images/test_image_8_diff.png)
### Image 10

![](images/test_image_9.png)
| Metric | Value |
| :--- | :---: |
| FP | 40 |
| TP | 433 |
| FN | 34 |
| Precision | 0.9154334038054969 |
| Recall | 0.9271948608137045 |
| Accuracy | 0.854043392504931 |
| F1 | 0.9212765957446809 |
| n_true | 467 |
| n_pred | 473 |
| mean_true_score | 0.7320058687851312 |
| mean_matched_score | 0.7894843896597142 |
| panoptic_quality | 0.7273334908992686 |

![](images/test_image_9_classes.png)

![](images/test_image_9_graph.png)

![](images/test_image_9_diff.png)
