# Test results

## Segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 21722 |
| TP | 127311 |
| FN | 74046 |
| Precision | 0.8542470459562648 |
| Recall | 0.632265081422548 |
| Accuracy | 0.5706991693525612 |
| F1 | 0.7266816975370302 |
| n_true | 201357 |
| n_pred | 149033 |
| mean_true_score | 0.5119742581223847 |
| mean_matched_score | 0.809746217473345 |
| panoptic_quality | 0.5884277558877196 |
## Segmentation Metrics per class

| Metric | Neutrophil | Epithelial | Lymphocyte | Plasma | Eosinophil | Connective tissue |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: |
| FP |1268.0000 |  19186.0000 |  4538.0000 |  5025.0000 |  198.0000 |  5283.0000 | 
| TP |290.0000 |  58930.0000 |  27156.0000 |  7633.0000 |  469.0000 |  18693.0000 | 
| FN |415.0000 |  27344.0000 |  32424.0000 |  6220.0000 |  1315.0000 |  20468.0000 | 
| Precision |0.1861 |  0.7544 |  0.8568 |  0.6030 |  0.7031 |  0.7797 | 
| Recall |0.4113 |  0.6831 |  0.4558 |  0.5510 |  0.2629 |  0.4773 | 
| Accuracy |0.1470 |  0.5588 |  0.4235 |  0.4043 |  0.2366 |  0.4206 | 
| F1 |0.2563 |  0.7170 |  0.5950 |  0.5758 |  0.3827 |  0.5921 | 
| n_true |705.0000 |  86274.0000 |  59580.0000 |  13853.0000 |  1784.0000 |  39161.0000 | 
| n_pred |1558.0000 |  78116.0000 |  31694.0000 |  12658.0000 |  667.0000 |  23976.0000 | 
| mean_true_score |0.3143 |  0.5279 |  0.3934 |  0.4738 |  0.1879 |  0.3989 | 
| mean_matched_score |0.7641 |  0.7729 |  0.8632 |  0.8600 |  0.7147 |  0.8357 | 
| panoptic_quality |0.1958 |  0.5541 |  0.5136 |  0.4952 |  0.2735 |  0.4948 | 
## Images

### Image 1

![](images/test_image_0.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 26 |
| TP | 197 |
| FN | 257 |
| Precision | 0.8834080717488789 |
| Recall | 0.43392070484581496 |
| Accuracy | 0.41041666666666665 |
| F1 | 0.5819793205317577 |
| n_true | 454 |
| n_pred | 223 |
| mean_true_score | 0.3470767521123004 |
| mean_matched_score | 0.799862159690276 |
| panoptic_quality | 0.4655032362156111 |

![](images/test_image_0_classes.png)

![](images/test_image_0_graph.png)

![](images/test_image_0_diff.png)
### Image 2

![](images/test_image_1.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 51 |
| TP | 319 |
| FN | 213 |
| Precision | 0.8621621621621621 |
| Recall | 0.599624060150376 |
| Accuracy | 0.5471698113207547 |
| F1 | 0.7073170731707317 |
| n_true | 532 |
| n_pred | 370 |
| mean_true_score | 0.48405628634574716 |
| mean_matched_score | 0.807266283184757 |
| panoptic_quality | 0.5709932246916575 |

![](images/test_image_1_classes.png)

![](images/test_image_1_graph.png)

![](images/test_image_1_diff.png)
### Image 3

![](images/test_image_2.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 41 |
| TP | 256 |
| FN | 420 |
| Precision | 0.8619528619528619 |
| Recall | 0.378698224852071 |
| Accuracy | 0.35704323570432356 |
| F1 | 0.526207605344296 |
| n_true | 676 |
| n_pred | 297 |
| mean_true_score | 0.31256270549706455 |
| mean_matched_score | 0.825360894203186 |
| panoptic_quality | 0.43431117968348537 |

![](images/test_image_2_classes.png)

![](images/test_image_2_graph.png)

![](images/test_image_2_diff.png)
### Image 4

![](images/test_image_3.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 114 |
| TP | 301 |
| FN | 122 |
| Precision | 0.7253012048192771 |
| Recall | 0.7115839243498818 |
| Accuracy | 0.5605214152700186 |
| F1 | 0.7183770883054893 |
| n_true | 423 |
| n_pred | 415 |
| mean_true_score | 0.5568487649831929 |
| mean_matched_score | 0.7825482644115968 |
| panoptic_quality | 0.562164743646517 |

![](images/test_image_3_classes.png)

![](images/test_image_3_graph.png)

![](images/test_image_3_diff.png)
### Image 5

![](images/test_image_4.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 68 |
| TP | 274 |
| FN | 81 |
| Precision | 0.8011695906432749 |
| Recall | 0.7718309859154929 |
| Accuracy | 0.6477541371158393 |
| F1 | 0.7862266857962698 |
| n_true | 355 |
| n_pred | 342 |
| mean_true_score | 0.6120210889359595 |
| mean_matched_score | 0.7929470312856409 |
| panoptic_quality | 0.6234361164197005 |

![](images/test_image_4_classes.png)

![](images/test_image_4_graph.png)

![](images/test_image_4_diff.png)
### Image 6

![](images/test_image_5.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 61 |
| TP | 205 |
| FN | 49 |
| Precision | 0.7706766917293233 |
| Recall | 0.8070866141732284 |
| Accuracy | 0.6507936507936508 |
| F1 | 0.7884615384615384 |
| n_true | 254 |
| n_pred | 266 |
| mean_true_score | 0.6506875105730192 |
| mean_matched_score | 0.806217696027058 |
| panoptic_quality | 0.6356716449444111 |

![](images/test_image_5_classes.png)

![](images/test_image_5_graph.png)

![](images/test_image_5_diff.png)
### Image 7

![](images/test_image_6.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 63 |
| TP | 764 |
| FN | 303 |
| Precision | 0.9238210399032648 |
| Recall | 0.7160262417994376 |
| Accuracy | 0.6761061946902654 |
| F1 | 0.8067581837381204 |
| n_true | 1067 |
| n_pred | 827 |
| mean_true_score | 0.5940769699654405 |
| mean_matched_score | 0.8296860300433573 |
| panoptic_quality | 0.6693559946706705 |

![](images/test_image_6_classes.png)

![](images/test_image_6_graph.png)

![](images/test_image_6_diff.png)
### Image 8

![](images/test_image_7.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 68 |
| TP | 627 |
| FN | 269 |
| Precision | 0.902158273381295 |
| Recall | 0.6997767857142857 |
| Accuracy | 0.6504149377593361 |
| F1 | 0.7881835323695788 |
| n_true | 896 |
| n_pred | 695 |
| mean_true_score | 0.5750959941319057 |
| mean_matched_score | 0.8218277683288477 |
| panoptic_quality | 0.6477511134408391 |

![](images/test_image_7_classes.png)

![](images/test_image_7_graph.png)

![](images/test_image_7_diff.png)
### Image 9

![](images/test_image_8.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 56 |
| TP | 381 |
| FN | 169 |
| Precision | 0.8718535469107551 |
| Recall | 0.6927272727272727 |
| Accuracy | 0.6287128712871287 |
| F1 | 0.7720364741641338 |
| n_true | 550 |
| n_pred | 437 |
| mean_true_score | 0.5583024458451704 |
| mean_matched_score | 0.8059484126373851 |
| panoptic_quality | 0.6222215708507473 |

![](images/test_image_8_classes.png)

![](images/test_image_8_graph.png)

![](images/test_image_8_diff.png)
### Image 10

![](images/test_image_9.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 113 |
| TP | 426 |
| FN | 542 |
| Precision | 0.7903525046382189 |
| Recall | 0.44008264462809915 |
| Accuracy | 0.3940795559666975 |
| F1 | 0.5653616456536165 |
| n_true | 968 |
| n_pred | 539 |
| mean_true_score | 0.35042537342418323 |
| mean_matched_score | 0.7962717405507262 |
| panoptic_quality | 0.4501815016252281 |

![](images/test_image_9_classes.png)

![](images/test_image_9_graph.png)

![](images/test_image_9_diff.png)
### Image 11

![](images/test_image_10.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 69 |
| TP | 203 |
| FN | 482 |
| Precision | 0.7463235294117647 |
| Recall | 0.29635036496350364 |
| Accuracy | 0.2692307692307692 |
| F1 | 0.42424242424242425 |
| n_true | 685 |
| n_pred | 272 |
| mean_true_score | 0.23195399820369525 |
| mean_matched_score | 0.7827019151208436 |
| panoptic_quality | 0.33205535793005486 |

![](images/test_image_10_classes.png)

![](images/test_image_10_graph.png)

![](images/test_image_10_diff.png)
### Image 12

![](images/test_image_11.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 49 |
| TP | 370 |
| FN | 84 |
| Precision | 0.883054892601432 |
| Recall | 0.8149779735682819 |
| Accuracy | 0.73558648111332 |
| F1 | 0.847651775486827 |
| n_true | 454 |
| n_pred | 419 |
| mean_true_score | 0.6465719617936054 |
| mean_matched_score | 0.7933612720386402 |
| panoptic_quality | 0.672494090846041 |

![](images/test_image_11_classes.png)

![](images/test_image_11_graph.png)

![](images/test_image_11_diff.png)
### Image 13

![](images/test_image_12.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 74 |
| TP | 317 |
| FN | 210 |
| Precision | 0.8107416879795396 |
| Recall | 0.6015180265654649 |
| Accuracy | 0.5274542429284526 |
| F1 | 0.690631808278867 |
| n_true | 527 |
| n_pred | 391 |
| mean_true_score | 0.4658549126004358 |
| mean_matched_score | 0.7744654225250148 |
| panoptic_quality | 0.5348704552079078 |

![](images/test_image_12_classes.png)

![](images/test_image_12_graph.png)

![](images/test_image_12_diff.png)
### Image 14

![](images/test_image_13.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 35 |
| TP | 224 |
| FN | 285 |
| Precision | 0.8648648648648649 |
| Recall | 0.4400785854616896 |
| Accuracy | 0.4117647058823529 |
| F1 | 0.5833333333333334 |
| n_true | 509 |
| n_pred | 259 |
| mean_true_score | 0.351421543563513 |
| mean_matched_score | 0.7985427039010184 |
| panoptic_quality | 0.46581657727559406 |

![](images/test_image_13_classes.png)

![](images/test_image_13_graph.png)

![](images/test_image_13_diff.png)
### Image 15

![](images/test_image_14.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 100 |
| TP | 319 |
| FN | 108 |
| Precision | 0.7613365155131265 |
| Recall | 0.747072599531616 |
| Accuracy | 0.6053130929791272 |
| F1 | 0.7541371158392435 |
| n_true | 427 |
| n_pred | 419 |
| mean_true_score | 0.5895751309897358 |
| mean_matched_score | 0.789180504490963 |
| panoptic_quality | 0.595150309533374 |

![](images/test_image_14_classes.png)

![](images/test_image_14_graph.png)

![](images/test_image_14_diff.png)
### Image 16

![](images/test_image_15.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 68 |
| TP | 197 |
| FN | 398 |
| Precision | 0.7433962264150943 |
| Recall | 0.3310924369747899 |
| Accuracy | 0.2971342383107089 |
| F1 | 0.45813953488372094 |
| n_true | 595 |
| n_pred | 265 |
| mean_true_score | 0.26184674431295957 |
| mean_matched_score | 0.7908569181025936 |
| panoptic_quality | 0.3623228206190952 |

![](images/test_image_15_classes.png)

![](images/test_image_15_graph.png)

![](images/test_image_15_diff.png)
### Image 17

![](images/test_image_16.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 106 |
| TP | 309 |
| FN | 94 |
| Precision | 0.744578313253012 |
| Recall | 0.7667493796526055 |
| Accuracy | 0.6070726915520629 |
| F1 | 0.7555012224938875 |
| n_true | 403 |
| n_pred | 415 |
| mean_true_score | 0.5744608460229916 |
| mean_matched_score | 0.7492159253956816 |
| panoptic_quality | 0.5660335475483267 |

![](images/test_image_16_classes.png)

![](images/test_image_16_graph.png)

![](images/test_image_16_diff.png)
### Image 18

![](images/test_image_17.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 66 |
| TP | 403 |
| FN | 127 |
| Precision | 0.8592750533049041 |
| Recall | 0.7603773584905661 |
| Accuracy | 0.6761744966442953 |
| F1 | 0.8068068068068068 |
| n_true | 530 |
| n_pred | 469 |
| mean_true_score | 0.6177766619988208 |
| mean_matched_score | 0.8124606224798387 |
| panoptic_quality | 0.6554987604792293 |

![](images/test_image_17_classes.png)

![](images/test_image_17_graph.png)

![](images/test_image_17_diff.png)
### Image 19

![](images/test_image_18.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 83 |
| TP | 371 |
| FN | 100 |
| Precision | 0.8171806167400881 |
| Recall | 0.7876857749469215 |
| Accuracy | 0.6696750902527075 |
| F1 | 0.8021621621621622 |
| n_true | 471 |
| n_pred | 454 |
| mean_true_score | 0.5899019990503914 |
| mean_matched_score | 0.74890523329578 |
| panoptic_quality | 0.6007434411951014 |

![](images/test_image_18_classes.png)

![](images/test_image_18_graph.png)

![](images/test_image_18_diff.png)
### Image 20

![](images/test_image_19.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 20 |
| TP | 245 |
| FN | 348 |
| Precision | 0.9245283018867925 |
| Recall | 0.4131534569983137 |
| Accuracy | 0.399673735725938 |
| F1 | 0.5710955710955711 |
| n_true | 593 |
| n_pred | 265 |
| mean_true_score | 0.34356756355066925 |
| mean_matched_score | 0.8315737354512117 |
| panoptic_quality | 0.4749080773555871 |

![](images/test_image_19_classes.png)

![](images/test_image_19_graph.png)

![](images/test_image_19_diff.png)
### Image 21

![](images/test_image_20.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 94 |
| TP | 316 |
| FN | 122 |
| Precision | 0.7707317073170732 |
| Recall | 0.7214611872146118 |
| Accuracy | 0.5939849624060151 |
| F1 | 0.7452830188679245 |
| n_true | 438 |
| n_pred | 410 |
| mean_true_score | 0.5799611061131029 |
| mean_matched_score | 0.8038701407517059 |
| panoptic_quality | 0.5991107652772147 |

![](images/test_image_20_classes.png)

![](images/test_image_20_graph.png)

![](images/test_image_20_diff.png)
### Image 22

![](images/test_image_21.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 51 |
| TP | 181 |
| FN | 47 |
| Precision | 0.7801724137931034 |
| Recall | 0.793859649122807 |
| Accuracy | 0.6487455197132617 |
| F1 | 0.7869565217391304 |
| n_true | 228 |
| n_pred | 232 |
| mean_true_score | 0.6286558184707374 |
| mean_matched_score | 0.7918979370791609 |
| panoptic_quality | 0.6231892461362092 |

![](images/test_image_21_classes.png)

![](images/test_image_21_graph.png)

![](images/test_image_21_diff.png)
### Image 23

![](images/test_image_22.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 47 |
| TP | 207 |
| FN | 48 |
| Precision | 0.8149606299212598 |
| Recall | 0.8117647058823529 |
| Accuracy | 0.6854304635761589 |
| F1 | 0.8133595284872298 |
| n_true | 255 |
| n_pred | 254 |
| mean_true_score | 0.6517514696308211 |
| mean_matched_score | 0.8028822451973883 |
| panoptic_quality | 0.6530319243845162 |

![](images/test_image_22_classes.png)

![](images/test_image_22_graph.png)

![](images/test_image_22_diff.png)
### Image 24

![](images/test_image_23.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 64 |
| TP | 574 |
| FN | 246 |
| Precision | 0.8996865203761756 |
| Recall | 0.7 |
| Accuracy | 0.6493212669683258 |
| F1 | 0.7873799725651578 |
| n_true | 820 |
| n_pred | 638 |
| mean_true_score | 0.5792873847775343 |
| mean_matched_score | 0.827553406825049 |
| panoptic_quality | 0.6515989787621099 |

![](images/test_image_23_classes.png)

![](images/test_image_23_graph.png)

![](images/test_image_23_diff.png)
### Image 25

![](images/test_image_24.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 102 |
| TP | 399 |
| FN | 116 |
| Precision | 0.7964071856287425 |
| Recall | 0.7747572815533981 |
| Accuracy | 0.646677471636953 |
| F1 | 0.7854330708661418 |
| n_true | 515 |
| n_pred | 501 |
| mean_true_score | 0.5941613651016383 |
| mean_matched_score | 0.7669000075873277 |
| panoptic_quality | 0.6023486280065822 |

![](images/test_image_24_classes.png)

![](images/test_image_24_graph.png)

![](images/test_image_24_diff.png)
### Image 26

![](images/test_image_25.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 58 |
| TP | 324 |
| FN | 133 |
| Precision | 0.8481675392670157 |
| Recall | 0.7089715536105032 |
| Accuracy | 0.629126213592233 |
| F1 | 0.7723480333730631 |
| n_true | 457 |
| n_pred | 382 |
| mean_true_score | 0.5744245600126504 |
| mean_matched_score | 0.8102222960672261 |
| panoptic_quality | 0.6257735969625298 |

![](images/test_image_25_classes.png)

![](images/test_image_25_graph.png)

![](images/test_image_25_diff.png)
### Image 27

![](images/test_image_26.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 50 |
| TP | 212 |
| FN | 49 |
| Precision | 0.8091603053435115 |
| Recall | 0.8122605363984674 |
| Accuracy | 0.6816720257234726 |
| F1 | 0.8107074569789675 |
| n_true | 261 |
| n_pred | 262 |
| mean_true_score | 0.6586779598075311 |
| mean_matched_score | 0.8109195637253096 |
| panoptic_quality | 0.6574185373222395 |

![](images/test_image_26_classes.png)

![](images/test_image_26_graph.png)

![](images/test_image_26_diff.png)
### Image 28

![](images/test_image_27.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 99 |
| TP | 404 |
| FN | 639 |
| Precision | 0.8031809145129225 |
| Recall | 0.38734419942473636 |
| Accuracy | 0.35376532399299476 |
| F1 | 0.5226390685640362 |
| n_true | 1043 |
| n_pred | 503 |
| mean_true_score | 0.3108524896725941 |
| mean_matched_score | 0.8025226404171178 |
| panoptic_quality | 0.4194296852891535 |

![](images/test_image_27_classes.png)

![](images/test_image_27_graph.png)

![](images/test_image_27_diff.png)
### Image 29

![](images/test_image_28.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 46 |
| TP | 337 |
| FN | 201 |
| Precision | 0.8798955613577023 |
| Recall | 0.6263940520446096 |
| Accuracy | 0.577054794520548 |
| F1 | 0.7318132464712269 |
| n_true | 538 |
| n_pred | 383 |
| mean_true_score | 0.5162769870687152 |
| mean_matched_score | 0.8242048042818064 |
| panoptic_quality | 0.6031639935786509 |

![](images/test_image_28_classes.png)

![](images/test_image_28_graph.png)

![](images/test_image_28_diff.png)
### Image 30

![](images/test_image_29.png)
## Personal segmentation Metrics

| Metric | Value |
| :--- | :---: |
| FP | 60 |
| TP | 354 |
| FN | 75 |
| Precision | 0.855072463768116 |
| Recall | 0.8251748251748252 |
| Accuracy | 0.7239263803680982 |
| F1 | 0.8398576512455516 |
| n_true | 429 |
| n_pred | 414 |
| mean_true_score | 0.6508981131173514 |
| mean_matched_score | 0.7888002557269598 |
| panoptic_quality | 0.6624799300767349 |

![](images/test_image_29_classes.png)

![](images/test_image_29_graph.png)

![](images/test_image_29_diff.png)
