# T-Test results

## CoNSeP

### HoverNet vs Graph improved

5 folds

P value and statistical significance:
The two-tailed P value equals 0.2878
By conventional criteria, this difference is considered to be not statistically significant.
Confidence interval:
The mean of Group One minus Group Two equals -0.0020140
95% confidence interval of this difference: From -0.0065790 to 0.0025510
Intermediate values used in calculations:
t = 1.2249
df = 4
standard error of difference = 0.002
Review your data:
Group
Mean
SD
SEM
N
Group One
0.8693860
0.0446627
0.0199738
5         
Group Two
0.8714000
0.0423384
0.0189343
5      

## Lizard

### HoverNet vs Graph improved

10 folds

P value and statistical significance:
The two-tailed P value equals 0.7876
By conventional criteria, this difference is considered to be not statistically significant.
Confidence interval:
The mean of Group One minus Group Two equals -0.0000270
95% confidence interval of this difference: From -0.0002470 to 0.0001930
Intermediate values used in calculations:
t = 0.2776
df = 9
standard error of difference = 0.000
Review your data:
Group
Mean
SD
SEM
N
Group One
0.8818580
0.0122843
0.0038846
10         
Group Two
0.8818850
0.0122206
0.0038645
10      

### Stardist vs Stardist Graph improved

10 folds

P value and statistical significance:
The two-tailed P value is less than 0.0001
By conventional criteria, this difference is considered to be extremely statistically significant.
Confidence interval:
The mean of Group One minus Group Two equals -0.0620270
95% confidence interval of this difference: From -0.0663826 to -0.0576714
Intermediate values used in calculations:
t = 32.2149
df = 9
standard error of difference = 0.002
Review your data:
Group
Mean
SD
SEM
N
Group One
0.7961590
0.0104399
0.0033014
10         
Group Two
0.8581860
0.0073353
0.0023196
10         

### HoverNet vs Stardist Graph improved

P value and statistical significance:
The two-tailed P value equals 0.0002
By conventional criteria, this difference is considered to be extremely statistically significant.
Confidence interval:
The mean of Group One minus Group Two equals 0.0236720
95% confidence interval of this difference: From 0.0148752 to 0.0324688
Intermediate values used in calculations:
t = 6.0874
df = 9
standard error of difference = 0.004
Review your data:
Group
Mean
SD
SEM
N
Group One
0.8818580
0.0122843
0.0038846
10         
Group Two
0.8581860
0.0073353
0.0023196
10         